body {
  background-image: url("../03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}
.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: rgb(106, 106, 106);
}
td {
  border-right: 1px solid grey;
}
td:hover {
  background-color: rgb(46, 163, 179);
}
td a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
